.wishlist {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 480px;
    margin-inline-start: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wishlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .wishlist-item button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10rem;
    margin-left: 15rem;
  }
  
  .wishlist-item button:hover {
    background-color: #ff0000;
  }
  