/* You can add global styles to this file, and also import other style files */
.footer {
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    color: rgba(0, 0, 0, 0.5);
}