body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    padding: 10px 0;
    position: relative;

}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    max-width: 100%;
    min-width: 300px;
    border-radius: 9999px;
    padding: 8px;
    box-sizing: border-box;
}

.footerArea {
    color: #888;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    flex-shrink: 0;
  }