.app-container {
    padding: 1rem;
}

.toolbar {
    background-color: #004f4f;
    min-height: 4rem;
}

.nav-title {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgba (255, 255, 255, 0);
}

.nav-btns {
    margin-inline: 2rem;
}

.nav-btn {
    padding-inline: 1rem;
}

